
<div class="post-content-wrap row">
  <div class="col-md-7 post-image">
  <%= image_tag @post.image %>
  </div>
  <div class="col-md-5">
    <div class="post-details">
      <h2><%= @post.body %></h2>
      <p>By <%= @post_owner.username %> | Likes: <%= @post.likes.count %> 
      <%= form_with model: [ @post, @post.likes.create ], local: true do |form| %> <%= form.submit "Like", class: "btn btn-primary" %> <% end %></p>
      
      <hr />
      
      <h2>Comments</h2>
      <% @post.comments.reverse.each do |comment| %>
        <p><a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>: <%= comment.body %></p>
      <% end %>
      <%= form_with model: [ @post, @post.comments.create ], local: true do |form| %>
    
        <div class="form-group"> 
          <%= form.label :body, 'Comment' %><br>
          <%= form.text_area :body, class: "form-control", :required => true %>
        </div>
        <div class="form-group"> 
          <%= form.submit "Comment", class: "btn btn-primary" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
