<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="col-sm-7">
          <a href="/">
            <%= image_tag("logo.png", width: 160) %>
          </a>
        </div>
        <div class="col-sm-5 text-right-sm">
          <% if signed_in? %>

            <span class="margin-right">Signed in as: <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></span>
            <%= link_to 'Sign out', sign_out_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path %>
          <% end %>
        </div>

    </header>



    <section class="main-content-wrap">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
